/* style.css */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.home-section {
    height: 100vh;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color: white;
}

.highlight {
    color: #ffc107;
}

.section-title {
    font-weight: bold;
    margin-bottom: 20px;
}

.skill-box {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.skill-box:hover {
    transform: translateY(-5px);
}

.card {
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.03);
}

footer {
    font-size: 14px;
}